/**
 * Fonts
 */
@font-face {
  font-family: "DIN Next LT Pro";
  src:
    url("~@fonts/DINNextLTPro-Black.eot"),
    url("~@fonts/DINNextLTPro-Black.ttf") format("truetype"),
    url("~@fonts/DINNextLTPro-Black.woff") format("woff"),
    url("~@fonts/DINNextLTPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src:
    url("~@fonts/DINNextLTPro-Bold.eot"),
    url("~@fonts/DINNextLTPro-Bold.ttf") format("truetype"),
    url("~@fonts/DINNextLTPro-Bold.woff") format("woff"),
    url("~@fonts/DINNextLTPro-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src:
    url("~@fonts/DINNextLTPro-Regular.eot"),
    url("~@fonts/DINNextLTPro-Regular.ttf") format("truetype"),
    url("~@fonts/DINNextLTPro-Regular.woff") format("woff"),
    url("~@fonts/DINNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src:
    url("~@fonts/DINNextLTPro-Italic.eot"),
    url("~@fonts/DINNextLTPro-Italic.ttf") format("truetype"),
    url("~@fonts/DINNextLTPro-Italic.woff") format("woff"),
    url("~@fonts/DINNextLTPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Revelstoke";
  src:
    url("~@fonts/Revelstoke-Regular.eot"),
    url("~@fonts/Revelstoke-Regular.ttf") format("truetype"),
    url("~@fonts/Revelstoke-Regular.woff") format("woff"),
    url("~@fonts/Revelstoke-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}