@import "./_variables";

/**
 * Fonts
 */
@font-face {
  font-family: "DIN Next LT Pro";
  src: url(~@fonts/public/DINNextLTPro-Black.eot);
  src: url(~@fonts/public/DINNextLTPro-Black.ttf) format("truetype"), url(~@fonts/public/DINNextLTPro-Black.woff) format("woff"),
    url(~@fonts/public/DINNextLTPro-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url(~@fonts/public/DINNextLTPro-Bold.eot);
  src: url(~@fonts/public/DINNextLTPro-Bold.ttf) format("truetype"), url(~@fonts/public/DINNextLTPro-Bold.woff) format("woff"),
    url(~@fonts/public/DINNextLTPro-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url(~@fonts/public/DINNextLTPro-Regular.eot);
  src: url(~@fonts/public/DINNextLTPro-Regular.ttf) format("truetype"), url(~@fonts/public/DINNextLTPro-Regular.woff) format("woff"),
    url(~@fonts/public/DINNextLTPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url(~@fonts/public/DINNextLTPro-Italic.eot);
  src: url(~@fonts/public/DINNextLTPro-Italic.ttf) format("truetype"), url(~@fonts/public/DINNextLTPro-Italic.woff) format("woff"),
    url(~@fonts/public/DINNextLTPro-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Revelstoke";
  src: url(~@fonts/public/Revelstoke-Regular.eot);
  src: url(~@fonts/public/Revelstoke-Regular.ttf) format("truetype"), url(~@fonts/public/Revelstoke-Regular.woff) format("woff"),
    url(~@fonts/public/Revelstoke-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/**
 * Colors
 */
:root {
  /* Brand Colors */
  --color-brand-orange: #ff4713;

  /* Teir 1 Colors */
  --color-black: #1e1e1e;
  --color-white: #fff;
  --color-gray: #434343;
  --color-gray--light: #cac9c6;

  /* Teir 2 Colors */
  --color-primary: var(--color-brand-orange);
  --color-secondary: var(--color-gray);
  --color-tertiary: var(--color-gray--light);
  --color-border: var(--color-gray);
  --color-overlay: rgba(67, 67, 67, 0.8);
  --color-background: rgba(202, 201, 196, 0.3);

  /* Default Colors - Error */
  --color-error--light: #f99;
  --color-error: #cb4324;
  --color-error--dark: #bf2600;
  --color-error--darker: #841a00;

  /* Default Colors - Valid */
  --color-valid--lighter: #fafdfc;
  --color-valid--light: #ecf3ee;
  --color-valid: #36b370;
  --color-valid--dark: #008842;
  --color-valid--darker: #1a6343;

  /* Default Colors - Warning */
  --color-warning--lighter: #fffef9;
  --color-warning--light: #fffae6;
  --color-warning: #ffab00;
  --color-warning--dark: #b26100;
  --color-warning--darker: #774100;

  /* Default Colors - Information */
  --color-information--lighter: #fffef9;
  --color-information--light: #e6fcff;
  --color-information: #00b8d9;
  --color-information--dark: #008da6;
  --color-information--darker: #005b6b;
}

/**
 * Border/Shadow Styles.
 */
:root {
  --border: 1px solid var(--color-gray--light);
  --border-lg: 10px solid var(--color-primary);
  --border-radius: 2px;
  --box-shadow: 0 0 20px rgba(0 ,0, 0, 0.1);
}

/**
 * Transitions.
 */
:root {
  --transition-effect: cubic-bezier(0.86, 0, 0.07, 1);
  --transition-all: all 0.25s var(--transition-effect);
}

/**
 * Icons.
 */
:root {
  --icon-xs: 10px;
  --icon-sm: 15px;
  --icon-md: 20px;
  --icon-lg: 30px;
  --icon-xl: 40px;
  --icon-xxl: 50px;
}

/**
 * Z Index.
 */
:root {
  --z-index-vanish: -1;
  --z-index-none: 0;
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-5: 500;
  --z-index-10: 1000;
  --z-index-15: 1500;
  --z-index-30: 3000;
  --z-index-50: 5000;
  --z-index-75: 7500;
  --z-index-100: 10000;
}

/**
 * Max width.
 */
:root {
  --max-width-sm: 620px;
  --max-width-md: 800px;
  --max-width-lg: 1000px;
  --max-width-xl: 1260px;
  --max-width-xxl: 1440px;
}

/**
 * Spacing.
 */
:root {
  --space: 20px;
  --space-xs: calc(var(--space) / 4);
  --space-sm: calc(var(--space) / 2);
  --space-md: calc(var(--space) * 1.5);
  --space-lg: calc(var(--space) * 2);
  --space-xl: calc(var(--space) * 3);
  --space-xxl: calc(var(--space) * 4);
}

/**
 * Fonts
 */
:root {
  --font-family-body: "DIN Next LT Pro", sans-serif;
  --font-family-primary: "DIN Next LT Pro", sans-serif;
  --font-family-secondary: "Revelstoke", sans-serif;
}

/**
 * Font Sizes
 */
:root {
  --font-size-body: 16px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-h6: 18px;
  --font-size-h5: 16px;
  --font-size-h4: 20px;
  --font-size-h3: 22px;
  --font-size-h2: 36px;
  --font-size-h1: 48px;
}

/* Medium Breakpoint */
@media screen and (min-width: $breakpoint-md) {
  :root {
    --font-size-body: 16px;
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-h6: 20px;
    --font-size-h5: 18px;
    --font-size-h4: 24px;
    --font-size-h3: 28px;
    --font-size-h2: 48px;
    --font-size-h1: 64px;
  }
}

/**
 * Theme variables.
 */
:root {
  --card-width: 294px;
  --sidebar-width: 340px;
  --main-width: calc(100% - var(--sidebar-width));
}

@import "./_breakpoints";
@import "./_mixins";
@import "./_overrides";
