/* ------------------------------------ *\
    $HELPERS
\* ------------------------------------ */

/**
 * Fonts.
 */
.u-font--xs {
  @include u-font--xs;
}

.u-font--sm {
  @include u-font--sm;
}

.u-font--md {
  @include u-font--md;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Text alignment.
 */
.u-text-align--center {
  text-align: center;
}

/**
 * Alignment.
 */
.u-align--center {
  @include u-align--center;
}
