{% if primary_nav.name == "Primary Navigation" %}
  <nav role="navigation" class="c-primary-nav{{ primary_nav.classes ? ' ' ~ primary_nav.classes }}">
    <div class="c-primary-nav__menu-toggle js-toggle" data-toggled="body" data-prefix="primary-nav" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    {% if primary_nav.items %}
      <ul class="c-primary-nav__parent-list">
        {% for item in primary_nav.get_items %}
          <li class="c-primary-nav__parent-list-item">
            <div class="c-primary-nav__link-wrap">
              {% include "@atoms/links/link.twig" with {
                "link": {
                  "text": item.title,
                  "url": item.url,
                  "target": item.target,
                  "classes": "c-primary-nav__link js-primary-nav-link " ~ item.classes|join(' ') ~ (item.children ? ' has-children'),
                }
              } %}
              {% if item.children %}
                {% include "@atoms/images/icons/icon.twig" with {
                  "icon": {
                    "title": "Arrow",
                    "name": "arrow",
                    "classes": "c-primary-nav__link-toggle js-toggle-parent o-icon--xsmall"
                  }
                } %}
              </div>
              <ul class="c-primary-nav__child-list">
                {% for item in item.children %}
                  <li class="c-primary-nav__child-list-item">
                    {% include "@atoms/links/link.twig" with {
                      "link": {
                        "text": item.title,
                        "url": item.url,
                        "target": item.target,
                        "classes": "c-primary-nav__link js-primary-nav-link " ~ item.classes|join(' '),
                      }
                    } %}
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    {% endif %}
  </nav>
{% endif %}
