/* ------------------------------------ *\
    $SOCIAL LINKS
\* ------------------------------------ */

.c-social-links {
  display: flex;
  flex-direction: row;

  &__item {
    padding: var(--space-sm);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: var(--color-tertiary);
    background-color: transparent;
    margin-right: var(--space-sm);

    &:hover,
    &:focus {
      box-shadow: none;
      background-color: var(--color-secondary);
    }
  }
}
