/* ------------------------------------ *\
    $ICONS
\* ------------------------------------ */

.o-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--xs,
  &--xs svg {
    width: var(--icon-xs);
    height: var(--icon-xs);
    min-width: var(--icon-xs);
  }

  &--sm,
  &--sm svg {
    width: var(--icon-sm);
    height: var(--icon-sm);
    min-width: var(--icon-sm);
  }

  &--md,
  &--md svg {
    width: var(--icon-md);
    height: var(--icon-md);
    min-width: var(--icon-md);
  }

  &--lg,
  &--lg svg {
    width: var(--icon-lg);
    height: var(--icon-lg);
    min-width: var(--icon-lg);
  }

  &--xl,
  &--xl svg {
    width: var(--icon-xl);
    height: var(--icon-xl);
    min-width: var(--icon-xl);
  }

  &--xxl,
  &--xxl svg {
    width: var(--icon-xxl);
    height: var(--icon-xxl);
    min-width: var(--icon-xxl);
  }
}
