{% if icon.name %}
  <span class="o-icon{{ icon.classes ? ' ' ~ icon.classes }}" aria-label="{{ icon.title ? icon.title : icon.name|replace({'-': ' '})|capitalize }}">
    {% include '@atoms/images/icons/icon-' ~ icon.name ~ '.twig' %}
  </span>
{% endif %}
