{% if kicker.text %}
  <span class="o-kicker{{ kicker.classes ? ' ' ~ kicker.classes }}">
    {% if kicker.link %}
      <a class="o-kicker__link" href="{{ kicker.link }}">
        {{ kicker.text }}
      </a>
    {% else %}
      {{ kicker.text }}
    {% endif %}
  </span>
{% endif %}
