<header role="banner" class="c-header{{ header.classes ? ' ' ~ header.classes }} l-wrap">
  <div class="c-header__container l-container">
    {% include "@molecules/components/contact/contact.twig" %}
    {% include "@molecules/navigation/primary/primary-nav.twig" %}
  </div>
</header>
