{% if card %}
  <div class="c-card{{ card.classes ? ' ' ~ card.classes }}">
    <div class="c-card__content u-spacing">
      {% include "@atoms/text/kicker/kicker.twig" with {
        "kicker": {
          "text": card.kicker,
          "classes": "c-card__kicker"
        }
      } %}
      {% include "@atoms/text/heading/heading.twig" with {
        "heading": {
          "level": "3",
          "size": "lg",
          "text": card.title,
          "classes": "c-card__heading"
        }
      } %}
      <hr class="o-hr--small" />
      {% include "@atoms/text/dek/dek.twig" with {
        "dek": {
          "text": card.description,
          "classes": "c-card__dek"
        }
      } %}
    </div>
  </div>
{% endif %}
