/* ------------------------------------ *\
    $SOCIAL SHARE
\* ------------------------------------ */

.c-social-share {
  display: flex;
  flex-direction: row;

  &__item {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--space);
    text-align: center;
    transition: var(--transition-all);
    text-decoration: none;
    background: linear-gradient(var(--color-black 50%), var(--color-primary 50%));
    background-size: 100% 200%;
    background-position: 0 top;
    box-shadow: none;
    color: var(--color-white);

    &:hover,
    &:focus {
      background-position: 0 bottom;
      color: var(--color-white);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
